*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.section-content h1{
    font-size: 50px;
}
.section-content p,
.intro p{
    font-size: 20px;
    padding: 40px 0;
}
.margin-bottom{  
    margin-bottom: 20px;
}
.section-content{
    padding-top: 60px;
}
.tomato-color{
    color: tomato;
}
.flexible-container{
    display: flex;
    padding: 40px 0;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    box-shadow: 5px 5px 20px tomato;
}
.about-me{
    background-image: url('images/shapes/7.png');
    background-repeat: no-repeat;
    background-position: center;
}
.about-me .section-content{
    padding-top: 120px;
}
.about-me .half-width img{
    padding-top: 50px;
    width: 65%;
}
.section-content h2,
.intro h2{
    font-size: 40px;
}
.intro{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.recipe-item{
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 30px;
    padding: 20px;
}
.recipe-item img{
    width: 100%;
}
.recipe-item h3{
    padding: 10px 0;
}
.subscriber{
    text-align: center;
    margin: 20px auto 50px auto;
    box-shadow: 10px 10px 20px gray;
    border-radius: 20px;
    padding: 70px 0;
}
.subscriber-items{
    display: flex;
}
.subscriber-item{  
    margin: 0 auto;
}
.chef{
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 30px;
    padding: 20px;
}
.chef img{
    width: 100%;
}
.chef h3{
    text-align: center;
}
.testimonial{
    background-image: url('images/shapes/Frame\ 58.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}
.review img{
    width: 40%;
}
.review p{
    padding: 0;
}
.review h4{
    padding-bottom: 20px;
}
.subscribe-button{
    text-decoration: none;
    padding: 15px 22px;
    background-image: linear-gradient(rgb(240, 6, 45), rgb(224, 109, 128));
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
footer{
    background-color: black;
    text-align: center;
    padding: 60px 0;
}
footer h3{
    font-size: 30px;
    color: gray;
}
footer p{
    padding-top: 20px;
    color: white;
}